@import url('https://fast.fonts.net/cssapi/3be9c07e-94d2-4728-8dfa-8b0fc59a7f82.css');

html {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-family:'AvenirNextLTW01-Regular';
}

body {
  margin: 0px;
}

a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
  color: rgba(0,0,0,0.3);
  &:hover {
    color: rgba(0,0,0,1);
  }
}

a.active {
  color: rgba(0,0,0,1);
}


#topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#topnav img {
  max-width: 50px;
}

#topnav ul {
  padding-left: 0px;
}

#topnav ul li {
  display: inline-block;
  margin-right: 30px;
}

#topnav .cart {
  display: block;
  text-align: right;
  width: 300px;
}

ul.nav {
  list-style-type: none;
  padding-left: 0px;
}

#app #subnav {
  position: fixed;
  top: 100px;
  z-index: 10;
}

#subnav ul {
  margin-bottom: 50px;
}

#app {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  padding-top: 0px;
  padding-right: 0px;
}

#app .content {
  display: flex;
  position: relative;
  padding-left: 200px;
  top: 0px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;

}

#app .content .item {
  display: inline-block;
  margin: 0px;
  margin-top: 0px;
  width: 25%;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}




#topnavdemo #topnav {
  align-items: flex-start;
}

#topnavdemo #topnav img {
  max-width: 70px;
}

#topnavdemo #subnav {
  top: 110px;
}







.item-details {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  opacity: 0;
  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.item:hover .item-details {
  opacity: 1;
  transition: opacity 0.25s ease;
}
